html, body {
  margin: 0;
}

#topbar-neo, #topbar-neo > div {
	box-sizing: border-box;
}

#topbar-neo { 
  	width: 100%;
}

#topbar-neo .topbar-wrapper {
  	display: table;
  	width: 100%;
}

#topbar-neo .tb-span-layout {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
}

#topbar-neo #tb-username {
	width: 45%;
}

#topbar-neo .tb-options-buttons {
	text-align: center;
	//border: 1px solid red;
	width: 11%;
	cursor: pointer;
	//font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.tb-options-buttons span::after {
	display: block;
	text-align: center;
}